@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.playfair-display {
  font-optical-sizing: auto;
  font-style: normal;
}

#__next {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

